.btn {
  border: none;
  padding: 1rem 3rem;
  border-radius: var(--border-rounded);
  color: var(--color-white);
  cursor: pointer;
  transition: all 250ms ease-in-out;

  &--green {
    background-color: var(--color-green-500);
    &:hover {
      background-color: var(--color-green-600);
    }
  }
  &--red {
    background-color: var(--color-red-500);
    &:hover {
      background-color: var(--color-red-600);
    }
  }
  &--blue {
    background-color: var(--color-blue-500);
    &:hover {
      background-color: var(--color-blue-600);
    }
  }

  &--floating {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 4rem;
    padding: 2rem;
    border: none;
    background-color: var(--color-brown-500);
    border-radius: var(--border-circle);
    cursor: pointer;
    transition: all 250 ms ease-in-out;

    @media (min-width: $media-sm) {
    }

    &:hover {
      transform: scale(1.1);
    }

    svg {
      width: ;
    }
  }
}
