.btn {
  border: none;
  padding: 1rem 3rem;
  border-radius: var(--border-rounded);
  color: var(--color-white);
  cursor: pointer;
  transition: all 250ms ease-in-out;

  &--green {
    background-color: var(--color-green-500);
    &:hover {
      background-color: var(--color-green-600);
    }
  }
  &--red {
    background-color: var(--color-red-500);
    &:hover {
      background-color: var(--color-red-600);
    }
  }
  &--blue {
    background-color: var(--color-blue-500);
    &:hover {
      background-color: var(--color-blue-600);
    }
  }
}
